# LINEAR REGRESSION from CSV file

using PANDAS

In [1]:
import pandas as pd

# LOAD DATA CSV

In [2]:
data=pd.read_csv('mtcars.csv')

In [3]:
data.head()

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

# input & output    X,Y

In [4]:
x=data.loc[:,['hp','am','wt']]

In [5]:
x.head(1)

    hp  am    wt
0  110   1  2.62

In [6]:
y=data.loc[:,'mpg']

In [7]:
y.head(1)

0    21.0
Name: mpg, dtype: float64

In [17]:
x.shape

(32, 3)

In [18]:
y.shape

(32,)

# SPLIT FOR TRAINING AND TEST

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=5)

# model

In [10]:
from sklearn.linear_model import LinearRegression

In [11]:
model=LinearRegression()

# training

In [12]:
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

# prediction

In [13]:
y_pred=model.predict(x_test)

In [14]:
y_pred

array([19.81873387, 27.00201253, 23.62960617, 20.4035037 , 16.6731554 ,
       23.82238313, 16.69777581])

# evaluation

In [15]:
from sklearn.metrics import r2_score

In [16]:
r2_score(y_test,y_pred)

0.6901596406857404